.grid {
  border: 1px solid black;
}
.cell {
  border: 1px solid black;
  width: 21px;
  height: 21px;
}

.cell-alive {
  background-color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.myButton {
  background-color: #378de5;
  border-radius: 5px;
  border: 1.5px solid black;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 40px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #79bbff;
}
